* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000000;
  color: #fff;
  display: flex;
  justify-content: center;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1350px;
}

/* ------------------ Main Banner Styles ------------------ */

.banner-container {
  width: 100%;
  max-width: 1350%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.banner-container img {
  width: 65%;
  max-width: 600px;
}

.banner-container h1 {
  width: 100%;
  color: #FCF80A;
  font-size: 45px;
  margin-top: -15px;
}

/* ------------------ Input Styles ------------------ */

form {
  margin-top: 15px;
}

input {
  font-size: 22px;
  width: 250px;
}

form button {
  font-size: 22px;
  padding: 0 10px;
  font-weight: bold;
}

/* ------------------ Location Info Styles ------------------ */

.location-info {
  width: 100%;
  max-width: 1350px;
  display: flex;
  justify-content: space-around;
  margin: 50px 0;
}

.location-info p {
  display: inline;
  font-size: 25px;
  font-weight: bold;
  color: #7A7CE3;
}

.location-info p span {
  font-weight: normal;
  font-size: 17px;
  color: #fff;
  display: block;
}
/* ------------------ Card Styles ------------------ */

.residents-container {
  display: flex;
  justify-content: center;
  gap: 25px;
  max-width: 1350px;
  width: 100%;
  flex-wrap: wrap;
}

.resident-card {
  border: 3px solid #FCF80A;
  padding: 20px 15px;
  width: 25%;
}

.resident-card img {
  border-radius: 50%;
  width: 75%;
}

.resident-name {
  font-size: 25px;  
}

.resident-card h4 {
  font-weight: normal;
  margin-top: 17px;
}

.resident-origin {
  font-weight: bold;
  font-size: 22px;
}

.resident-episodes {
  font-weight: bold;
  font-size: 28px;
}